/*.wasm
target/
grammars/
**/*.rs.bk
Cargo.lock
# Optional: common local/IDE files
.DS_Store
.vscode/
.idea/
.tabnine/
vscode/
objectscript-lsp/objectscript-tests/local/
objectscript-lsp/documentation/code-changes-AI
